MONGO_URL=mongodb+srv://wwwfaizu9264_db_user:uWzbnpAZTkTkXlL2@cluster0.kvlnwg4.mongodb.net/?appName=Cluster0
CLOUDINARY_CLOUD_NAME=dnunvo4pg
CLOUDINARY_API_KEY=829286223356373
CLOUDINARY_API_SECRET=ZoG5bNkfWshBIW4BWdxcrJhiEEs
# LOGIN_EMAIL=admin@example.com
# LOGIN_PASSWORD=admin123
JWT_SECRET_KEY=supersecretkey123

# Buyer credentials
BUYER_EMAIL=buyer@example.com
BUYER_PASSWORD=buyer123
BUYER_USERNAME=Buyer User

# Seller credentials
SELLER_EMAIL=seller@example.com
SELLER_PASSWORD=seller123
SELLER_USERNAME=Seller User
